name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    permissions: write-all
    env:
      MY_SECRET   : ${{secrets.commit_secret}}
      USER_NAME   : canyi-chen
      USER_EMAIL  : cychen.stats@outlook.com
      PUBLISH_DIR : dist
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          docker_image: ghcr.io/xu-cheng/texlive-full:20240315
      - uses: actions/upload-artifact@v3
        with:
          name: PDF
          path: main.pdf
      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/heads/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: main.pdf
          asset_name: CV_Canyi_$tag.pdf
          tag: ${{ github.ref }}
          overwrite: true
          body: "Automatic release through Github Actions"
          
      - name: Post Processing
        run: |
          mkdir $PUBLISH_DIR
          cp main.pdf $PUBLISH_DIR
          cp index.html $PUBLISH_DIR
          
      - name: Git add
        run: git add main.pdf
        
      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          BRANCH: gh-pages
          folder: dist # ${{PUBLISH_DIR}} # The folder the action should deploy.
          CLEAN: true
